</div>
</main>
<!-- footer at bottom -->
<footer class="bg-[#00bc7d]">
  <div class="text-center p-4 text-white">
    Made with <span aria-label="love">❤</span> by The App Brewery
  </div>


</footer>
</body>