<%- include("partials/header") %>

    <% console.log(posts); %>
        <p>

            <%= posts?.title?posts?.title:"post did not found" %>

        </p>
        <br>
        <p>
            <%= posts?.body?posts?.body:"" %>
        </p>
        <br>




        <%- include("partials/footer") %>